<div class="container my-4">
  <h3 class="text-center mb-4">お気に入り一覧 🧡</h3>
  <div>
    <%= link_to "カテゴリーを追加", new_mypage_bookmark_path, class:"btn btn-warning mb-2 float-end new-btn" %>
  </div>
  <%= render "bookmark_cards" %>
</div>
