<div class="container my-3">
  <h3 class="text-center my-4"><%= @user.name %>さんのプロフィール</h3>
  <%= render "profile" %>
  <h3 class="text-center my-4"><%= @user.name %>さんの投稿一覧</h3>
  <%= render "postcard" %>
</div>
