.display-categories {
  padding: 0 6px;
}

.display-categories > li {
  display: inline-block;
  background-color: #ee982e;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
  padding: 3px 6px;
  border-radius: 5px;
  margin: 0 3px;
}

.display-categories > li > a {
  text-decoration: none;
  color: black;
}

.container {
  position: relative;
}

.new-btn {
  position: absolute;
  top: 0;
  right: 0;
}
