.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.fa-bell {
  text-decoration: none;
  color: #e9c46a;
  vertical-align: middle;
  margin-top: 0.6rem;
}
