// card-post
.card-post {
  /*fixed*/
  display: flex;
  flex-direction: column;
  /*customizable*/
  height: 230px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.3);
}
.card-post .first-img{
  /*fixed*/
  width: 100%;
  min-height: 120px;
  flex-grow: 1;
  object-fit: cover;
  /*customizable*/
  object-position: 50% 50%;
  border-radius: 4px 4px 0 0;
}
.card-post-info {
  /*customizable*/
  padding: 24px 16px;
}
.card-post-info h3 {
  /*customizable*/
  margin: 0;
  font-size: 1.1rem;
}
.card-post:hover {
  /*customizable*/
  transition: 0.2s ease-out;
  transform: translateY(-8px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.user-info {
  display: flex;
}

// cards
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 0 auto;
}

// delerte btn
#delete-item-wrapper {
  position: relative;
}

#delete-item {
  position: absolute;
  bottom: 5px;
  right: 12px;
  font-size: 16px;
  z-index: 999;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
