table {
  border-collapse: separate;
  border-spacing:  5px;
  margin: 0 auto;
}

th,td {
  padding: 5px 10px;
}

th {
  background-color:  #ee982e;
}

td {
  background-color:  #eeeed5;
}

.profile-table {
  margin: 0 auto;
}
